<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 添加网络访问权限 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnCompose"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CMainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <!-- Removed intent-filter from CMainActivity -->
        </activity>
        <activity
            android:name=".BMainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"> <!-- 为 BMainActivity 指定一个 AppCompat 主题 -->

            <!-- 将启动 intent-filter 移动到这里 -->
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LearnCompose">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".AMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LearnCompose">

            <!-- {{ edit_2 }} -->
            <!-- 移除原来的启动 intent-filter -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <!-- {{ /edit_2 }} -->
        </activity>
        <activity
            android:name="com.example.mvi.CounterActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".DMainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ArchitectureActivity"
            android:exported="false"
            android:label="UI Architecture"
            android:theme="@style/Theme.LearnCompose" />

        <activity
            android:name=".LayoutsBasicsActivity"
            android:exported="false"
            android:label="UI Architecture"
            android:theme="@style/Theme.LearnCompose" />

        <activity
            android:name=".ComponentsActivity"
            android:exported="false"
            android:label="UI Architecture"
            android:theme="@style/Theme.LearnCompose" />


    </application>

</manifest>